
.bg-blank-image {
  background-color: rgb(216, 183, 183);
}
.bg-image {
  position:sticky;
  height: 100ch;
  width: 100%;
  background-image: url("../IMAGES/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  filter: blur(5px);
  z-index: -1;
}


body {
  background-color: rgb(0, 0, 0);
}


a {
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 25px;
  padding: 4px 2px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: underline;
  color: #f0f0f0;
}

nav li {
  display: inline-block;
  text-align: center;
  padding: 10px 50px;
  margin: auto;
  border-radius: 5px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  z-index: 1000;
  background-color: rgba(100, 100, 100, 0.6);
  padding: 15px 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.nav-right a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 20px;
  transition: 0.3s;
}

.home-icon {
  width: 100px;
  height: 70px;
  margin-right: 8px;
}

.links {
  margin: auto;
  text-align: center;
  padding: 20px;
  display: flex;
}

.similarArtists {
  background-color: rgba(11, 0, 0, 0.4);
  color: rgb(255, 252, 252);
  font-weight: bold;
  border: 0px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.similarArtists {
  background-color: rgba(11, 0, 0, 0.4);
  color: rgb(255, 252, 252);
  font-weight: bold;
  border: 0px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  -webkit-transform: translate(-50%, -40%);
  -moz-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  -o-transform: translate(-50%, -40%);
}
.newStuff {
  background-color: rgba(11, 0, 0, 0.4);
  color: rgb(255, 252, 252);
  font-weight: bold;
  border: 0px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 120%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  -webkit-transform: translate(-50%, 90%);
  -moz-transform: translate(-50%, 120%);
  -ms-transform: translate(-50%, 120%);
  -o-transform: translate(-50%, 120%);
}

.newStuff2 {
  background-color: rgba(11, 0, 0, 0.4);
  color: rgb(255, 252, 252);
  font-weight: bold;
  border: 0px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 190%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  -webkit-transform: translate(-50%, 190%);
  -moz-transform: translate(-50%, 190%);
  -ms-transform: translate(-50%, 190%);
  -o-transform: translate(-50%, 190%);
}

.mailingList {
  color: rgb(255, 231, 231);
  text-align: center;
  background-color: rgb(51, 0, 0);
}

.faveSongDiv {
  color: rgb(132, 77, 77);
  text-align: center;
  background-color: rgb(0, 0, 0);
}
